.colorbox{
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    background-color: blueviolet;  
    float: left;  
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

body{
    background-color: black;
}

h1{
    color: white;
    background-color: green;
}